on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Clean workspace
        run: |
          git clean -fdx
          rm -rf ./*

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Create GOOGLE Service Account JSON
        run: echo "$GOOGLE_SERVICE_JSON" > service-account.json

      - name: Run monitor script
        run: python3 note_monitor.py
